.section-team {
    background: url(../../img/Background3.png) center no-repeat;
    background-size: cover;
    padding-top: 150px;
    position: relative;
    padding-bottom: 400px;
}
.curve {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
[class*="preson-"] {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    height: 60px;
    width: 60px;
}
.img-person {
    object-fit: cover;
}
.section-team__preson-1 {
    bottom: 32%;
    left: 20%;
}
.section-team__preson-2 {
    bottom: 43%;
    left: 34%;
}
.section-team__preson-3 {
    bottom: 38%;
    left: 52%;
}
.section-team__preson-4 {
    bottom: 34%;
    left: 66%;
}
.section-team__preson-5 {
    bottom: 42%;
    left: 79%;
}
[class*="person-desc"] {
    text-align: center;
    padding-top: 15px;
    opacity: 0;
    font-size: 24px;
    letter-spacing: 2px;
    color: #e74c3c;
    font-weight: 600;
    font-family: "Open Sans";
}
.person-desc-1 {
    width: 120px;
    opacity: 1;
    white-space: nowrap;
}
.section-team__preson-1:hover .person-desc {
    opacity: 1;
}
.section-team__preson-3:hover .person-desc {
    opacity: 1;
}
.section-team__preson-4:hover .person-desc {
    opacity: 1;
}
.section-team__preson-5:hover .person-desc {
    opacity: 1;
}
.img-person:hover {
    width: 70px;
    height: 70px;
    transition: 0.25s ease-in-out;
}